<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<f:view>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item"><h:link value="Add Author" styleClass="nav-link" outcome="add-author"/></li>
                <li class="nav-item"><h:link value="Add Publisher" styleClass="nav-link" outcome="add-publisher"/></li>
                <li class="nav-item"><h:link value="Add Library" styleClass="nav-link" outcome="add-library"/></li>
                <li class="nav-item"><h:link value="Add Book" styleClass="nav-link" outcome="add-book"/></li>
                <li class="nav-item"><h:link value="Author Publisher" styleClass="nav-link" outcome="author-publisher"/>
                </li>
            </ul>
        </div>
    </div>

    <div class="container holder">
        <h1>Add book</h1>
        <div class="content">
            <h:form style="min-width: 600px">
                <div class="form-group row">
                    <h:outputLabel for="name" class="col-sm-3 col-form-label">Book name:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:inputText id="name" class="form-control" value="#{newBook.name}"/>
                        <h:message for="name" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="isbn" class="col-sm-3 col-form-label">ISBN:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:inputText id="isbn" class="form-control" value="#{newBook.isbn}"/>
                        <h:message for="isbn" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="genre" class="col-sm-3 col-form-label">Genre:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:inputText id="genre" class="form-control" value="#{newBook.genre}"/>
                        <h:message for="genre" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="year" class="col-sm-3 col-form-label">Year:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:inputText id="year" class="form-control" value="#{newBook.year}"/>
                        <h:message for="year" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="author" class="col-sm-3 col-form-label">Authors:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:selectManyMenu id="author" value="#{newBook.authors}"
                                          class="form-control"
                                          converter="#{authorValueConventer}" var="items_var"
                                          style="height: 300px;">
                            <f:selectItems value="#{addBookController.authors}" var="author_var"
                                           itemLabel="#{author_var.firstName} #{author_var.lastName}" itemValue="#{author_var}"/>
                        </h:selectManyMenu>
                        <h:message for="author" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="publisher" class="col-sm-3 col-form-label">Publisher:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:selectOneMenu id="publisher" value="#{newBook.publisher}"
                                         class="form-control"
                                         converter="#{publisherValueConverter}"
                                         var="items_var">
                            <f:selectItems value="#{addBookController.publishers}" var="publisher_var"
                                           itemLabel="#{publisher_var.name}" itemValue="#{publisher_var}"/>
                        </h:selectOneMenu>
                        <h:message for="publisher" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="library" class="col-sm-3 col-form-label">Library:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:selectOneMenu id="library" value="#{newBook.library}"
                                         class="form-control"
                                         converter="#{libraryValueConventer}" var="items_var">
                            <f:selectItems value="#{addBookController.libraries}" var="library_var"
                                           itemLabel="#{library_var.name}" itemValue="#{library_var}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <h:commandButton id="addbook"
                                 action="#{addBookController.addNewBook}"
                                 value="Add Book" class="btn btn-primary d-block mx-auto"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:form>
        </div>
    </div>

</f:view>
</html>
