<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<f:view>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item"><h:link value="Add Author" styleClass="nav-link" outcome="add-author"/></li>
                <li class="nav-item"><h:link value="Add Publisher" styleClass="nav-link" outcome="add-publisher"/></li>
                <li class="nav-item"><h:link value="Add Library" styleClass="nav-link" outcome="add-library"/></li>
                <li class="nav-item"><h:link value="Add Book" styleClass="nav-link" outcome="add-book"/></li>
                <li class="nav-item"><h:link value="Author Publisher" styleClass="nav-link" outcome="author-publisher"/>
                </li>
            </ul>
        </div>
    </div>

    <div class="container holder">
        <h1>Author Publisher</h1>
        <div class="content">
            <h:form style="min-width: 600px">
                <div class="form-group row">
                    <h:outputLabel for="author" class="col-sm-3 col-form-label">Author:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:selectOneMenu id="author" value="#{authorPublisherController.author}"
                                         converter="#{authorValueConventer}"
                                         class="form-control"
                                         var="items_var">
                            <f:selectItems value="#{authorPublisherController.authors}" var="author_var"
                                           itemLabel="#{author_var.firstName} #{author_var.lastName}" itemValue="#{author_var}"/>
                        </h:selectOneMenu>
                        <h:message for="author" errorClass="invalid"/>
                    </div>
                </div>

                <div class="form-group row">
                    <h:outputLabel for="publisher" class="col-sm-3 col-form-label">Publisher:</h:outputLabel>
                    <div class="col-sm-7">
                        <h:selectOneMenu id="publisher" value="#{authorPublisherController.publisher}"
                                         class="form-control"
                                         converter="#{publisherValueConverter}"
                                         var="items_var">
                            <f:selectItems value="#{authorPublisherController.publishers}" var="publisher_var"
                                           itemLabel="#{publisher_var.name}" itemValue="#{publisher_var}"/>
                        </h:selectOneMenu>
                        <h:message for="publisher" errorClass="invalid"/>
                    </div>
                </div>

                <h:commandButton id="authorsigntolibrary"
                                 action="#{authorPublisherController.signContract}"
                                 value="Make contract" class="btn btn-primary d-block mx-auto"/>
                <h:messages styleClass="messages"
                            errorClass="invalid" infoClass="valid"
                            warnClass="warning" globalOnly="true"/>
            </h:form>
        </div>
    </div>
</f:view>
</html>
