<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>
<link rel="stylesheet" href="bootstrap.css"/>
<link rel="stylesheet" href="style.css"/>
<f:view>

    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item"><h:link value="Add Author"  styleClass="nav-link" outcome="add-author"/></li>
                <li class="nav-item"><h:link value="Add Publisher"  styleClass="nav-link" outcome="add-publisher"/></li>
                <li class="nav-item"><h:link value="Add Library"  styleClass="nav-link" outcome="add-library"/></li>
                <li class="nav-item"><h:link value="Add Book"  styleClass="nav-link" outcome="add-book"/></li>
                <li class="nav-item"><h:link value="Author Publisher"  styleClass="nav-link" outcome="author-publisher"/></li>
            </ul>
        </div>
    </div>

    <div class="container holder">
        <div class="content">
            <h1>Welcome</h1>
        </div>
    </div>
</f:view>
</html>
