body {
    background: #cccccc;
    padding: 100px 0 120px;
}

.holder {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background: #fff;
    padding: 3em 2em;
    border-radius: 6px;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.1);
}

input[type='submit'] {
    margin-bottom: 1em;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages li {
    padding: 1em;
}

.messages .invalid {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.messages .valid {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}